# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/wp-admin/
/wp-content/index.php
/wp-content/boost-cache/
/wp-content/languages
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# WP Super Cache configuration file
wp-content/wp-cache-config.php

# WP Super Cache cache folder
wp-content/cache/

# WP Super Cache temporary folder (used for creating cached pages)
wp-content/wpsc-tmp/

# WP Super Cache logs (optional, in caso tu abbia configurato logging)
wp-content/debug.log

# Configuration
wp-config.php

# Example themes
/wp-content/themes/twenty*/

# Example plugin
/wp-content/plugins/hello.php

# Uploads
/wp-content/uploads/

# Log files
*.log

# htaccess
/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
/wp-content/plugins
/wp-content/plugins/*

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes



.DS_Store
**/.DS_Store